<!doctype html>
<html>
   <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   </head>
   <body>

      <table>

         <tr id="titulo" name="titulo">

            <th colspan="2"><h3>Ingresar {{entidad}}</h3></th>

         </tr>

         <form action="/registered/{{entidad}}" method="POST" name="form{{entidad}}" id="form{{entidad}}">
            {% for campo in campos %}

               <tr>

                  <th> <p> {{campo['name']}}</p> </th>
                  <th> <input type="text" name="{{campo['name']}}"> </th>

               </tr>
   
            {% endfor %}
            
            <tr>

               <th colspan="2"><input type="submit" value="Enviar"></th>

            </tr>
            
          </form>

      </table>
      
      <a href = "/">Go back to home page</a>
   
   </body>
</html>